# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnpm-store

# Testing
coverage
coverage-final.json
test-results/
.nyc_output

# Build
dist
dist-ssr
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDEs
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.*
!.env.example
*.local

# Misc
.cache
